

@media screen and (max-width: 350px)
{
    body{

        font-size: 14px !important;
    }
    h1{
        font-size: 20px !important;
    }
    h2{
        font-size: 18px !important;
    }
    .headingPallete{
        
        font-size: 12px !important;
    }
    .icon{
        font-size: 12px !important;

    }
    
}
@media screen and (max-width: 600px) and (min-width:351px) 
{
    body{
        
        font-size: 18px !important;
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 25px !important;
    }
    .headingPallete{

        font-size: 14px !important;
    }

    .icon{
        font-size: 18px !important;
        
    }
}
@media screen and (min-width:351px) {
    body{
        
        font-size: 20px !important;
    }
    h1{
        font-size: 52px !important;
    }
    h2{
        font-size: 30px !important;
    }
    .headingPallete{
    
        font-size: 20px !important;
    }
    
    .icon{
        font-size: 30px !important;
        
    }


}